<div class="container">
    <div class="titleContainer">
        <h1>Agregar productos</h1>
    </div>
    <hr>

    <form class="formContainer" action="">
        <div class="grid formBody">
            <div class="lg:col-4">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" placeholder="Ingrese el nombre">
                    <mat-hint align="end">Un texto de prueba</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>