.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 97vh;
    padding: 1%;
}

.titleContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formBody {
    align-items: center;
    background-color: rgba(15, 98, 180, 0.267);
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    width: 50%;
}

.buttonContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5%;
}
