<div class="container">
    <div class="titleContainer">
        <h1>Agregar productos</h1>
    </div>
    <hr>

    <form class="formBody" [formGroup]="myForm" action="">
        <div class="grid">
            <div class="lg:col-4">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" placeholder="Ingrese el nombre" formControlName="name">
                    <mat-hint align="start">Un texto de prueba</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <div class="buttonContainer">
            <button mat-flat-button>Cambiar color</button>
        </div>
    </form>

    <pre class="mt-5">
        {{ myForm.get('name')?.errors | json }}
    </pre>
</div>