<div class="container">
    <div class="titleContainer">
        <h1>Agregar productos</h1>
    </div>
    <hr>

    <div class="grid">
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold">1</div>
        </div>
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold ">2</div>
        </div>
        <div class="col">
            <div class="text-center p-3 border-round-sm bg-primary font-bold ">3</div>
        </div>
    </div>

    <!-- <form class="formContainer" action="">
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 ">
            <div class="sm:col-span-1 md:col-span-2 lg:col-span-1 ">
                <mat-form-field class="inputStyle">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" placeholder="Ingrese el nombre">
                    <mat-hint align="end">Un texto de prueba</mat-hint>
                </mat-form-field>
            </div>

            <div class="sm:col-span-1 md:col-span-1 lg:col-span-1 ">
                <mat-form-field class="">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" placeholder="Ingrese el nombre">
                    <mat-hint align="end">Un texto de prueba</mat-hint>
                </mat-form-field>
            </div>

            <div class="sm:col-span-1 md:col-span-1 lg:col-span-1 ">
                <mat-form-field class="">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" placeholder="Ingrese el nombre">
                    <mat-hint align="end">Un texto de prueba</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </form> -->
</div>